<div id="project-link">
  <div class= "project-container">

    <h1>Projects</h1>

      <div class="project-odd">
        <div class="project-link">
          <%= link_to "https://www.emitless-app.com", :target => '_blank' do %>
           <%= image_tag "muchacho-laptop.png", class: "website-image", alt: "Computer screen logo" %>
          <% end %>
        </div>
        <div class="description">
          <h2 class="mb15 morado">Muchacho</h2>
          <p class="emitless-description morado">
            I codeveloped a High-end Food & Wine Pairing delivery app where Restaurant owners can create profiles with tasting menus and wines, and users can order from. We started with an initial design on Figma and we created the app using Ruby on Rails, JS, HTML and CSS.
          </p>
          <div class="project-links">
            <div class="project-website">
              <%= image_tag "website.svg", class: "link-image", alt: "Computer screen logo" %>
              <%= link_to " View site", "https://muchacho-lewagon.herokuapp.com/", target: "_blank", class: "app-link"  %>
            </div>
            <div class="project-github">
              <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
              <%= link_to " View source", "https://github.com/toTheMoon247/Muchacho", target: "_blank", class: "app-link"  %>
            </div>
          </div>
        </div>
      </div>

      <div class="project-even">
        <div class="description">
          <h2 class="mb15 morado">AirTrainers</h2>
          <p class="emitless-description morado">
            I was the Lead Developer in a team of 4 to create a web app where personal trainers can rent out their services and book into classes. This app was created in one week using Ruby on Rails. I led our team through merging on Github using different branches and deploying to Heroku.
          </p>
          <div class="project-links">
            <div class="project-website">
              <%= image_tag "website.svg", class: "link-image", alt: "Computer screen logo" %>
              <%= link_to " View site", "https://airtrainers.herokuapp.com/", target: "_blank", class: "app-link"  %>
            </div>
            <div class="project-github">
              <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
              <%= link_to " View source", "https://github.com/benjardine/rails-air-trainers", target: "_blank", class: "app-link"  %>
            </div>
          </div>
        </div>
        <div class="project-link">
          <%= link_to "https://www.emitless-app.com", :target => '_blank' do %>
           <%= image_tag "airtrainers-laptop.png", class: "website-image", alt: "Computer screen logo" %>
          <% end %>
        </div>
      </div>

      <div class="project-odd">
        <div class="project-link">
          <%= link_to "https://www.emitless-app.com", :target => '_blank' do %>
           <%= image_tag "todo-laptop.png", class: "website-image", alt: "Computer screen logo" %>
          <% end %>
        </div>
        <div class="description">
          <h2 class="mb15 morado">Daily Routine</h2>
          <p class="emitless-description morado">
            My first app that I created using React. A user is able to start their day by adding multiple tasks to a log and cross them out as they complete them.
          </p>
          <div class="project-links">
            <div class="project-github">
              <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
              <%= link_to " View source", "https://github.com/benjardine/react-todo-app", target: "_blank", class: "app-link"  %>
            </div>
          </div>
        </div>
      </div>

      <div class="project-even">
        <div class="description">
          <h2 class="mb15 morado">Andersen</h2>
          <p class="emitless-description morado">
            This was a static webpage that I created for a client. I used React for some of the components along with Bootstrap for most of the Frontend work.
          </p>
          <div class="project-links">
            <div class="project-github">
              <%= image_tag "github.svg", class: "link-image", alt: "Github logo" %>
              <%= link_to " View source", "https://github.com/benjardine/Andersen", target: "_blank", class: "app-link"  %>
            </div>
          </div>
        </div>
        <div class="project-link">
          <%= link_to "https://www.emitless-app.com", :target => '_blank' do %>
           <%= image_tag "andersen-laptop.png", class: "website-image", alt: "Computer screen logo" %>
          <% end %>
        </div>
      </div>

  </div>
</div>
